/* $Id: horizontal.css,v 1.1.2.2 2010/07/25 01:07:32 alexiswilke Exp $ */

.simplemenu-block {
  height: 21px;
}
#simplemenu {
  background: #ddd;
  border-bottom: 1px solid #999;
  color: #333;
  font: 11px Verdana, Helvetica, sans-serif;
  width: 100%;
  height: 21px;
  position: relative;
}
#simplemenu a {
  border-top: none;
  border-right: 1px solid #999;
  border-left: 1px solid #eee;
  /*border-bottom: 1px solid #000;*/
  color: #333;
  text-decoration: none;
  padding: 2px 6px 3px 6px;
  width: auto;
}
#simplemenu li {
  background: #ddd;
  position: static;
}
#simplemenu li.expanded > a {
  font-weight: 700;
  background: url(down-green.gif) no-repeat 97%;
  padding-right: 2em;
}
#simplemenu li li li.expanded > a {
  background: url(right-green.gif) no-repeat 97%;
}
#simplemenu li ul {
  width: 100%;
}
#simplemenu li li {
  background: #ddd;
  position: relative; /* relative to 2nd level */
}
#simplemenu li li ul {
  background: #ddd;
  width: 14em;
  left: 0;
  margin-top: 1.5em;
}
#simplemenu li li ul ul {
  margin-top: 0;
}
#simplemenu li li li {
  width: 100%;
}
#simplemenu ul li {
  width: auto;
  float: left;
}
#simplemenu li.current {
  background-color: #ddd;
}
#simplemenu li:hover,
#simplemenu li.sfHover,
#simplemenu li li.current,
#simplemenu a:focus,
#simplemenu a:hover,
#simplemenu a:active {
  background-color: #3875d7;
  color: #fff;
}
ul #simplemenu .current ul ul {
  top: -999em;
}
#simplemenu li li:hover ul,
ul#simplemenu li li.sfHover ul {
  left: 0;
}
#simplemenu li li li:hover ul,
ul#simplemenu li li li.sfHover ul {
  left: 14em;
  top: -1px;
}

#simplemenu li li.current > a {
  font-weight: bold;
}
#simplemenu li:hover ul ul,
ul#simplemenu li.sfHover ul ul {
  border-top: 1px solid white;
  border-bottom: 1px solid #999;
}

/*** remove shadow on first submenu ***/
#simplemenu > li > ul {
  background: transparent;
  padding: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}
