@charset "utf-8";
/* CSS Document */

#main_menu ul li a .libele {
	padding-left:9px;
	padding-right:8px;
	/padding-left:14px;
	/padding-right:10px;
}

.midle_bloc input.input {
	width:138px;
	float:left;
}

.midle_bloc input {
	float:left;
}
.midle_bloc input {
	font-size:0px;
}

.midle_bloc input.input {
	width:138px;
	float:left;
	font-size:12px;
}

div, H1, H2, h3, h4 {
	overflow:visible;
}

.midle_bloc {
	padding-bottom:8px;

}

H3#actualite_title {
	/margin-top:-20px;
}

#pub {
	overflow:visible;
}
#pub div { 
/*only IE7*/
/position:relative;
/top:-220px;

}

.bloc_marron {
	/margin-top:-20px;
}

#content .col .lien_puce {
	/margin-left:-16px;
	margin-top:0px;
	
}

input.sinscrire {
	font-size:0px;
}
.midle_bloc input.sinscrire {
	position:absolute;
	
}

