@charset "UTF-8";
/* CSS Document */

body {
	background:url("../img/bg_clair.jpg") repeat scroll 0 0 transparent;
	color:#855c41;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:normal;
	width:650px;

}

.headerPop {
	width:100%;
	height:45px;
	background:#f6b034;
	position:fixed;
	top:0px;
	z-index:999;

}

h4 span {
	color:#f6b034;
}

h4 {
	margin-top:45px;
	color:#855b43;
}
H5 {
	font-size:16px;
}
label {
	display:inline;
}

.miseenavantPop {
	padding:10px 12px;
	margin:15px auto;
	border:1px solid black;
	background:white;
	color:#503227;
	font-size:12px;
	line-height:14px;
}

.contentPop {
	z-index:1;
	position:relative;
	top:45px;
	width:600px;
	margin:0 5px 5px 5px;
	overflow:hidden;
}



table.login {
	width:291px;
	position:relative;
	left:102px;
	margin-bottom:0px;
	
	}
	
table {
	margin-top:-15px;
}
table.radio {
	margin-top:-10px;
}

table.login tr td {text-align:right;
padding-bottom:15px;}

ul li {
	list-style:inside;
	margin:15px;
	}
	
.radio {
	width:390px;
}
.radio tr td {
	list-style:none;
	vertical-align:middle;
	padding:0;
}

.radio tr {
	padding:0;
}


.radio li label {padding-top:0px;}

#send {
	margin:auto;
	float:none;
	margin-top:20px;
	margin-bottom:0px;
}

#email {
	margin-left:14px;
}

.if {
	margin-bottom:0px;
}

form {
	margin-top:-8px;
}


.contentPop .radio input {
    border:none;
}
	
	

