/* Simpleblack theme v1.0 for Simple Menu styled by duvien.com July 2010 */
.simplemenu-block {
  height: 28px;
  _margin-bottom: -20px;
}
#simplemenu {
  background: #101010 url(bkg.png) bottom left repeat-x;
  font: bold 11px/20px "Lucida Grande", Verdana, sans-serif;
  color: #fff;
  border-bottom: 1px solid #999;
  width: 100%;
  text-align: left;
  list-style-image: none;
}
#simplemenu .simplemenu-separator {
  display: block;
  margin: 0;
  background-color: #aaaaaa;
  border-top: 1px solid #525252;
  border-bottom: 1px solid #101010;
  height: 2px;
}
#simplemenu a {
  background: transparent;
  border-bottom: none;
  display: block;
  border-right: 1px solid #323232;
  color: #eee;
  font-weight: bold;
  padding: 4px 10px;
  text-align: left;
  text-decoration: none; 
  text-shadow: 0px 1px 1px #000;
  width: auto;
  _width: 120px; /* Fix IE6 */
 
}   
#simplemenu li {
  text-align: left;
}   
#simplemenu li.expanded > a {
  background: url(right-green.gif) no-repeat 97%;
  padding-right: 2em;
  _padding-right: 0;
}
#simplemenu li.root > a {
  background: url(down-green.gif) no-repeat 97%;
}
#simplemenu li:hover,
#simplemenu li.sfHover,
#simplemenu a:focus,
#simplemenu a:hover,
#simplemenu a:active {
  background: #555;
  color: #fff;
}

ul#simplemenu a.active {
  background: #555;
  color: #fff;
}

#simplemenu li ul a {
  height: auto;
}

/* Second Sub level */
#simplemenu li li a {
  border-right: none;
  border-top: 1px solid #323232;
  padding: 6px 10px;
}

#simplemenu li li {
  background: #111;
  /*filter:alpha(opacity=88);*/
  opacity: 0.88;
  top: 7px;
}

/* Third Sub level */
#simplemenu li li li {
  /*filter:alpha(opacity=100);*/
  opacity: 1;
  top: 1px;
}

/* Second-and-more-level hovering */
#simplemenu li li:hover {
  background-color: #555;
  text-shadow: 0 0 1px 0 #111;
}
#simplemenu li li:hover a,
#simplemenu li li:hover li:hover a,
#simplemenu li li:hover li:hover li:hover a {
  color: #fff;
}

/* Fix for Garland theme */
.simplemenu-block ul li.expanded,
.simplemenu-block ul.menu li,
.simplemenu-block .item-list ul li,
.simplemenu-block li.leaf {
  background:none;
}
